@import "tailwindcss";

/*
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*/

img {
    transtition: .3s ease all;
    -webkit-transtition: .3s ease all;
    -moz-transtition: .3s ease all;
    -ms-transtition: .3s ease all;
    -o-transtition: .3s ease all;
}

img:hover {
    scale: 102%
}